.wrap {
  height: 100px;
  overflow: hidden;
}
img {
  width: 100px;
}
body {
  background: white;
  color: black;
  font-family: 'Roboto Mono', Menlo, monospace;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 72px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
}
li a {
  display: inline-block;
  color: slategrey;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-color: whitesmoke
}
li a:hover {
  background-color: lightgrey;
  color: dimgray;
}
li bl {
  display: inline-block;
  color: slategrey;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  background-color: whitesmoke
}
.topnav {
  background-color: whitesmoke;
  overflow: auto;
  display: inline-block;
}
.topnav a {
  float: center;
  color: dimgray;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: lightgrey;
  color: dimgray;
}
.topnav a.active {
  background-color: dimgray;
  color: white;
}
.title {
  font-family: 'Luminari', fantasy;
  font-size: 22px;
}
.content {
  text-align: center;
}
.hover-opacity:hover {
  opacity: 0.60;
}
.row-padding, .row-padding>.third {
  padding:0 30px;

}
.container {
  padding:0.01em 16px;
  width: 200px;
  height: 250px;
  border: solid ghostwhite;
  border-width: 10px;
}
.container:after, .container:before {
  content:"";
  display: table;
  clear: both;
}
.third {
  float: left;
  width: 100%;
  padding:0 8px;
}
@media (min-width:601px) {
  .w3-col.m1 {
    width:8.33333%
  }
  .w3-col.m2 {
    width:16.66666%
  }
  .w3-col.m3,.w3-quarter {
    width:24.99999%
  }
  .col.m4,.third {
    width:33.33333%;
    flex: 33.33333%;
  }
.margin-bottom {
  margin-bottom:16px;
}
.white {
  color: black;
  background-color: gainsboro;
  width: 200px;
}
.projectdescription {
  font-size: 12px;
}
.projecttitle {
  font-size: 18px;
}
.projectimg {
  height: 100px;
  overflow: hidden;
}
.main, #main {
  transition:margin-left .4s;
}
@media (max-width:1000px) {
  .main {
    margin-left:0;
    margin-right:0;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 33.33333%;
  padding: 0 4px;
}




